@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400;600&display=swap");

@font-face {
  font-family: "SF Pro Display";
  src: url("/public/SFPRODISPLAYMEDIUM.OTF");
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/public/SF-Pro-Display-Black.otf");
  font-weight: 800;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/public/SFPRODISPLAYREGULAR.OTF");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/public/FontsFree-Net-SFProDisplay-Semibold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/public/FontsFree-Net-SFProDisplay-Heavy.ttf");
  font-weight: 700;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
